extends includes/template.pug

append config
    - var myTitle = "Свяжитесь с нами"
    - var myDesc = "Присылайте нам свои вопросы по работе с Pug-шаблонизатором"

prepend content
    img(scr="https://sun9-17.userapi.com/c858524/v858524453/4e2c/TPNb_12gqk8.jpg" style="display: block") 