doctype html
html
    head
        title Заголовок здесь
        meta(charset="utf-8")
    body#id.class1.class2
        img
        ul
            li: a(href="#") Link
            li: a(href="#") Link
            li: a(href="#") Link
        p.
            Привет, #[b Мир]!
            #[br]
            Я здесь на долго.
            
            #[br]
            #[a(href="#") Я ссылка].
        .class3