extends includes/template.pug

append config
    - myTitle = "Блог о Pug шаблонизаторе"
    - myDesc = "Учимся создавать страницы и шаблоны на базе шаблонизатора Pug"
    - GoogleFonts += "|PT+Sans"
append links
    style
        :scss
            ul {
                list-style: none;

                li {
                    display: inline-block;
                }
            }
    style.
        h1{
            font-size: 100px;
        }
append content
    p.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quibusdam vel, magni odio voluptatibus esse nisi placeat praesentium id inventore consequuntur adipisci cumque numquam, voluptatem dolore. Inventore saepe harum quibusdam!
    include includes/slider.html
append scripts
    script.
        let btn = document.getElementsByClassName ("btn-primary")[0];

        btn.onclick = function () {
            btn.style.background = "transparent"; 
        }